
@font-face {
  font-family: 'SF-UI-Text';
  src:url('assets/fonts/sf-ui/SF-UI-Text-Ultrathin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'SF-UI-Text';
  src:url('assets/fonts/sf-ui/SF-UI-Text-Light.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'SF-UI-Text';
  src:url('assets/fonts/sf-ui/SF-UI-Text-Medium.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SF-UI-Text';
  src:url('assets/fonts/sf-ui/SF-UI-Text-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SF-UI-Text';
  src:url('assets/fonts/sf-ui/SF-UI-Text-Semibold.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SF-UI-Text';
  src:url('assets/fonts/sf-ui/SF-UI-Text-Heavy.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SF-UI-Text';
  src:url('assets/fonts/sf-ui/SF-UI-Text-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}



