//-----
$sfFont: 'SF-UI-Text';
$grey: #53647B;
$sfBoldW: 700;
$sfSemiboldW: 500;
$sfSemiBoldW: 600;
$sfRegularW: 400;
$sfMediumW: 300;
$sfLightW: 200;
$sfUltraThinW: 100;
$darkBlue: #3D495A;
$lightGrey: #F2F4F6;
$lighterGrey: #DFE3E9;
$darkerGrey: #C1C9D5;
$normalBlue: #1D65CD;
$lighterBlue: #3A7FE3;
$lightGreyBlue:#F1F5FA;
$lightGreyPreviousDate:#FDFDFD;
$lightGreyFuture: #F8F9FA;
$darkGrey: #99A3B2;
//-----
