<div class="scheduler-header">
  <div class="scheduler-header-left">
    <span class="current-month">June 2018</span>
    <span class="divider">|</span>
    <span class="current-week">W 23</span>
  </div>
  <div class="scheduler-header-center">
    <span class="prev-button">
      <span class="button-text">Previous</span>
      <span class="icon-angle-left"></span>
    </span>
    <span class="current-date">
      <span class="date-start">Monday, 4</span>
      <span class="date-divider">-</span>
      <span class="date-end">Sunday, 10</span>
    </span>
    <span class="next-button">
      <span class="icon-angle-right"></span>
      <span class="button-text">Next</span>
    </span>
  </div>
  <div class="scheduler-header-right">
    <div class="scheduler-header-button">Daily</div>
    <div class="scheduler-header-button">Weekly</div>
    <div class="scheduler-header-button">Monthly</div>
  </div>
</div>
