@import '../common/styles/variables';

.fc-agendaDay-view {
  .ui-widget-content {
    .fc-day {
      border-right: solid 1px #DFE3E9;
    }
  }
  .fc-resource-cell {
    font-size: 18px;
    font-family: $sfFont;
    font-weight: $sfRegularW;
    color: #3D495A;
  }
}

.fc-agendaDay-view {
   .fc-time-grid .fc-now-indicator-arrow {
    left: 53px;
    width: 34px;
    height: 17px;
    background: #6199EA;
    border: 0;
    border-radius: 6px 0 0 6px;
    font-size: 14px;
    padding-left: 3px;
    color: #FFF;
    transform: translate(0, -2px);
  }

  .fc-content-skeleton {
    .fc-axis {

    }
  }

  .fc-content-skeleton tbody tr td:nth-child(2) {
    .fc-content-col:nth-child(1) {
      .fc-now-indicator {
        width: calc(100%);
      }
    }
  }
}

.fc-agendaDay-view, .fc-timelineDay-view {
  td.fc-today {
    border-style: none;
  }

  .fc-now-indicator {
    border-color: #6199EA;
  }

  .fc-body {
    .fc-time-grid-container {
      border-bottom: solid #DFE3E9 1px;
    }
    .fc-slats {
      table {
        border: solid 1px;
        border-left-color: transparent;
        border-right-color: #DFE3E9;
        border-bottom-color: #DFE3E9;
      }
    }
  }
  .fc-time-grid {
    .fc-now-indicator-line {
      &:first-of-type {
        width: calc(100% - 57px);
      }
    }
  }
  .fc-timeline .fc-body .fc-divider.fc-col-resizer{
    border:none;
  }

}

.fc-agendaDay-view.fc-timeline, .fc-timelineDay-view.fc-timeline .fc-head {
  .ui-widget-header {
    border: none;
    height: 50px;
  }
  th {
    border-color: transparent;
    &:nth-child(4n+1) {
      .fc-cell-content {
        font-size: 14px;
        color: #53647B;
      }
    }
  }
  .fc-cell-content {
    font-size: 10px;
    color: #A8B0BC;
    text-align: center;
    border: none;
  }
  .fc-body {
    .fc-resource-area {
      &.ui-widget-content {
        border-color: #DFE3E9;
      }
      .fc-rows {
        .ui-widget-content {
          border-color: transparent;
        }
      }
    }
  }
}




.fc-agendaDay-view {
  .ui-widget-header, th {
    border-color: transparent;
    &:not(.ui-widget-header) {
      border-bottom-color: #DFE3E9;
    }
    .ui-widget-header {
      &.fc-row {
        height: 50px;
      }
    }
  }

  .fc-time {
    font-size: 10px;
    color: #A8B0BC;
    text-align: center;
    border-color: transparent;
  }

  .ui-widget-content {
    border: none;
  }
}

.fc-agendaDay-view {
  .fc-slats {
    tbody {
      tr {
        .ui-widget-content {
          &:not(.fc-time) {
            border-left: solid 1px #DFE3E9;
          }
        }
        &:nth-child(4n+1) {
          .ui-widget-content {
            &:not(.fc-time) {
              border-top: solid 1px #DFE3E9;
            }
          }
          .fc-time {
            font-size: 14px;
            color: #53647B;
            border-top: solid white 1px;
            //width: 76px !important;
            span {
              width: 80px;
              display: block;
            }

          }
        }
        &:first-of-type {
          .fc-time {
            &:before {
              content: "";
              display: block;
            }
            border-bottom: solid white 1px;
          }
        }
        &:last-of-type {
          .fc-time {
            border-bottom: solid white 1px;
          }
        }
      }
    }
  }
}



.table-signs {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.col-sign {
  display: inline-block;
  margin-right: 70px;
  font-size: 12px;
  color: #53647B;
  font-family: $sfFont;
  font-weight: $sfRegularW;
  span {
    vertical-align: middle;
  }
  .table-sign {
    display: inline-block;
    width: 22px;
    height: 13px;
    vertical-align: middle;
    margin-right: 12px;
    &.planned-sign {
      background: #6199EA;
    }
    &.finished-sign {
      background: #BACCE5;
    }
    &.pending-sign {
      background: #F1BC71;
    }
    &.update-sign {
      background: #6DD311;
    }
    &.stripes-sign {
      background: repeating-linear-gradient(-55deg, #222, #222 1px, #fff 3px, #fff 0px);
    }
  }
}


.col-sign .fa {
  font-size: 16px;
  vertical-align: middle;
  margin-right: 12px;
  color: #FF0000;
}

.fc-agendaDay-view {
  .fc-body {
    &:before {
      content: "";
      display: block;
      position: relative;
      left: 78px;
      top: 1px;
      border-top: solid #DFE3E9 1px;
      width: calc(100% - 96px);
    }
  }
}



.fc-timelineDay-view {
  .ui-widget-header {
    .fc-cell-content {
      .fc-expander-space + .fc-cell-text {
        color: white;
      }
    }
  }

  .ui-widget-content {
    .fc-divider {
      background: #F2F4F6;
      border: solid #C1C9D5 1px;
      .fc-cell-content {
        .fc-cell-text {
          font-size: 14px;
          font-family: $sfFont;
          font-weight: $sfMediumW;
          color: #3D495A;
        }
      }
    }
  }
   .ui-widget-content {
    .fc-cell-content {
      .fc-cell-text {
        font-size: 14px;
        font-family: $sfFont;
        font-weight: $sfLightW;
        color: #3D495A;
      }
    }
  }
  .fc-body {
    .fc-time-area {
      &.ui-widget-content {
        border: none;

        .fc-rows{
          tr {
            border-top: solid #DFE3E9 1px;
          }
        }
      }

      tbody {
        border-bottom: solid #C1C9D5 1px;
      }
    }
    border: solid #C1C9D5 1px;
    .fc-resource-area {
      &.ui-widget-content {
        border-color: #C1C9D5;
      }
      tbody {
        border-bottom: solid #C1C9D5 1px;
      }
    }
    .fc-bg {
      .fc-slats {
        tr {
          .ui-widget-content {
            &:nth-child(4n+1) {
              border-color: #DFE3E9;
            }
            border-color: transparent;
          }
        }
      }
    }
  }
}

.fc-timelineDay-view .fc-rows tr[data-resource-id] td {
  border-color: transparent;
  border-bottom: none;
}

.fc-timelineDay-view .fc-time-area .fc-rows tr[data-resource-id] td {
  border-color: #DFE3E9;
  border-bottom: none;
}

.fc-timelineDay-view .fc-timeline .fc-body > tr > .fc-divider {
  border: none;
}

.fc-timelineDay-view .fc-now-indicator-arrow {
  width: 40px;
  height: 17px;
  background: #6199EA;
  border: 0;
  border-radius: 6px;
  font-size: 14px;
  padding-left: 3px;
  color: #FFF;
  top:33px;
  transform: translate(-16px);
}


